*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: bold;
  font-size: 23px;
  color:rgb(255, 0, 13);
  background-color: #2ca090;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d8d4;

}

.calculator{
  border-color: rgb(196, 207, 238);
  padding: 15px;
  border-radius: 30px;
  box-shadow:inset 5px 5px 12px #e2ebe1,
  5px 5px 12px rgba(198, 207, 218, 0.14)  ;
  display:grid ;
  grid-template-columns: repeat(4 , 60px);
}
input{
  grid-column: span 4;
  width: 240px;
  height: 70px;
  background-color: #f1e7e7;
  border: none;
  box-shadow:inset -5px -5px 12px #f8f2f2,
  inset 5px 5px 12px rgba(188, 205, 206, 0.14)  ;
  border-radius: 30px;
  outline: none;
  font-size: 50px;
  text-align: end;
  margin: 40px auto;
  padding: 10px;

}
input::placeholder{
  color: rgb(219, 62, 14);
}
button{
  width: 48px;
  height: 48px;
  background-color: #fff;
  box-shadow:inset -5px -5px 12px #20c4e0,
  inset 5px 5px 12px rgba(161, 214, 91, 0.14)  ;
  border-radius: 50%;
  border: none;
  margin: 8px auto;
}
.equal{
  width: 115px ;
  border-radius: 40px;
  margin: 8px 12px;

}
marquee{
  color: rgb(0, 0, 0);
  background-color: rgb(238, 14, 152);
  font-size: 30px;
}